pipeline {
    triggers {
       githubPush()
    }
    agent any
    tools {
          nodejs "Node"
          maven 'maven-3.6.3'
    }
    environment {
        CI = 'true'
        CURR_DIR = pwd()
        API_ARCH = 'userAPI_1.0.zip'
        DEV_ENV = 'dev'
        PROD_ENV = 'prod'
        TEST_SCRIPT_FILE = 'apim4_demo_cicd.postman_collection.json' 
    }
    stages {
        
        
        stage('Preparation') {
            steps{
                sh '''
                    echo "PATH = ${PATH}"
                    echo "M2_HOME = ${M2_HOME}"
                '''
                git branch: "main",
                url: 'https://github.com/dushansachinda/apim4_cicd.git',
                credentialsId: 'demo-github-cred'
            }
        }
        
       
         stage('Deploy to Dev') {
            environment{
                RETRY = '80'
                STATE='PUBLISHED'
            }
            steps {
            
                echo 'Logging into $DEV_ENV'
                withCredentials([usernamePassword(credentialsId: 'dev_apim_admin', usernameVariable: 'DEV_USERNAME', passwordVariable: 'DEV_PASSWORD')]) {
                    sh 'apictl login $DEV_ENV -u $DEV_USERNAME -p $DEV_PASSWORD -k'                        
                }
                echo 'Deploying to $DEV_ENV'
                sh 'apictl import api -f $CURR_DIR/$API_ARCH -e $DEV_ENV --insecure --update=true --rotate-revision --verbose --params $CURR_DIR/param_dev.yaml'
                
                echo 'Sleeping 10sec'
                sleep(10)
                echo 'Wake up'
            }
        }

        
        stage('Run Tests') {
            steps {
                echo 'Running tests in $TEST_ENV'
                sh 'newman run $CURR_DIR/$TEST_SCRIPT_FILE --insecure' 
            }
        }
        
    }
    
    post {
        cleanup {
            deleteDir()
            dir("${workspace}@tmp") {
                deleteDir()
            }
            dir("${workspace}@script") {
                deleteDir()
            }
        }
    }
   
}

